@charset "UTF-8";
html { background-color: #D8D8D8; }
body {
	margin-top:2em;
	margin-bottom:40em;
	margin-right:15em;
	margin-left:15em; 
	background-color:#FFFFFA;
	padding:2em;
	border-radius: 1em;
}
a {
	color: #888;
	text-decoration: none;
}
a.footnoteRef {
	color: #FF0000;
}
p.caption {text-align:center;font-style: italic; font-size: small;}
div.figure {text-align:center; }
p {font-size:medium;}
sup {
	font-size:55%;
}
blockquote {font-size:small;}
h1.title {text-align: center;}
h2.author {text-align: center;}
h3.date {text-align: center;}
h6 {
	text-align: right;
	font-weight: normal;
}
.fauxUnderline {
   border-bottom: 1px solid black;  
   display: inline;
}

